    <div class="container" style="color:green;">
        <h4>Nova Assertiva</h4>
    </div>
        
    <div class="container">

        <div class='row'>
            <div class="col-sm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Letra</span>
                    </div>
                    <input type="text" class="form-control" id="letra-assert" value="">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input id="correta-assert" type="checkbox" class="form-check-input" >Questão  Correta
                    </label>
                </div>
            </div>
        </div><br>

        <div class='row'>
            <div class="col-sm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Corpo</span>
                    </div>
                    <textarea class="form-control" id="corpo-assert" aria-label="corpo"></textarea>
                </div>
            </div>
        </div><br>

        <div class='row'>
            <div class="col-sm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Jurisprudência</span>
                    </div>
                    <textarea class="form-control" id="juris-assert" aria-label="jurisprudencia"></textarea>
                </div>
            </div>
        </div><br>

        <div class='row'>
            <div class="col-sm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Doutrina</span>
                    </div>
                    <textarea class="form-control" id="doutrina-assert" aria-label="doutrina"></textarea>
                </div>
            </div>
        </div><br>

        <div class='row'>
            <div class="col-sm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Observação</span>
                    </div>
                    <textarea class="form-control" id="obs-assert" aria-label="obs"></textarea>
                </div>
            </div>
        </div><br>

        <div class='row'>
            <div class="col-sm">
                <button type="button" id="ojs-assert" class="btn btn-primary btn-block">OJs</button>
            </div>
            <div class="col-sm">
                <button type="button" id="enuncs-assert" class="btn btn-primary btn-block">Enunciados</button>
            </div>
            <div class="col-sm">
                <button type="button" id="sumulas-assert" class="btn btn-primary btn-block">Sumulas</button>
            </div>
            <div class="col-sm">
                <button type="button" id="leis-assert" class="btn btn-primary btn-block">Leis</button>
            </div>
        </div><br>

    </div><br>

<button type="button" id="addassert-q{{quest.id}}" class="btn btn-success" style="float: right">Adicionar</button>