<div class="container"> 
    <h4>Assertivas</h4>

    <div class='row' style="border-style:solid; border-width:1px;">
        <div class="col-1" style="border-style:solid; border-width:1px;">
            <h5>Letra</h5>
        </div>
        <div class="col-sm" style="border-style:solid; border-width:1px;">
            <h5>Corpo</h5>
        </div>
        <div class="col-1" style="border-style:solid; border-width:1px;">
            <h5>Correta</h5>
        </div>
        <div class="col-sm" style="border-style:solid; border-width:1px;">
            <h5>Jurisprudência</h5>
        </div>
        <div class="col-sm" style="border-style:solid; border-width:1px;">
            <h5>Doutrina</h5>
        </div>
        <div class="col-sm" style="border-style:solid; border-width:1px;">
            <h5>Obs</h5>
        </div>
    </div>

</div>