<div class="container" style="color:gray">
    <h5>{{cache.prova.repr}}</h5>
</div>

<div class="container" style="color:green">
    <h4>Questão ID #{{quest.id}}</h4>
</div>
    
<div class="container">
    <div class='row'>
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Número</span>
                </div>
                <input type="text" class="form-control" id="numero-q{{quest.numero}}" value="{{quest.numero}}">
            </div>
        </div>
    </div><br>

    <div class='row'>
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Matéria</span>
                </div>
                <input type="text" class="form-control" id="materia-q{{quest.numero}}" placeholder="Digite a matéria" value="{{quest.materia}}">
            </div>
        </div>
    </div><br>

    <div class='row'>
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Texto Associado</span>
                </div>
                <textarea class="form-control" id="texto_associado-q{{quest.numero}}" aria-label="Texto Associado">{{quest.texto_associado}}</textarea>
            </div>
        </div>
    </div><br>
    
    <div class='row'>
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Corpo</span>
                </div>
                <textarea class="form-control" id="corpo-q{{quest.numero}}" aria-label="corpo">{{quest.corpo}}</textarea>
            </div>
        </div>
    </div><br>

    <div class='row'>
        <div class="col-sm">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input id="anulada-q{{quest.numero}}" type="checkbox" class="form-check-input" 
                      {{"checked" if quest.anulada else ""}}>Questão  anulada
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input id="desatualizada-q{{quest.numero}}" type="checkbox" class="form-check-input"
                    {{"checked" if quest.desatualizada else ""}}>Questão desatualizada
                </label>
            </div>
        </div>
    </div><br>

    <div class='row'>
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Obs</span>
                </div>
                <textarea class="form-control" id="obs-q{{quest.numero}}" aria-label="corpo">{{quest.obs}}</textarea>
            </div>
        </div>
    </div><br>

    <div class='row'>
        <div class="col-sm">
            <button type="button" id="save-q{{quest.numero}}" class="btn btn-success" style="float: right">Salvar</button>
        </div>
    </div>

</div>