{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist" aria-orientation="vertical" style="overflow:scroll;">
        <a class="icon-block nav-link active" id="addquest-tab" data-toggle="pill" href="#addquest">
          <span style="color:green;">
              <i class="fas fa-plus-circle fa-2x"></i><span>nova questão</span>
          </span>
        </a>
        {% for quest in quests %}
        <a class="nav-link" id="questao{{quest.numero}}-tab" data-toggle="pill" href="#v-pills-questao{{quest.numero}}" role="tab" aria-controls="v-pills-questao-{{quest.numero}}" aria-selected="false">Questão {{quest.numero}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <div class="tab-content" id="v-pills-tabContent2">
        <div class="tab-pane fade show active" id="addquest" role="tabpanel">
          {% include 'question.html'%}
        </div>
        {% for quest in quests %}
        <div class="tab-pane fade" id="v-pills-questao{{quest.numero}}" role="tabpanel">
          {% include 'question.html'%}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block bodyscript %}
<script>
  $(document).ready(function() {
    //top of the screen when clicking pills
    {% for quest in quests %}
    $('#questao{{quest.numero}}-tab').on('click', function(){
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
    {% endfor %}

    //add new question - elements in 'question.html'
    //#save-q0 because blank_question.numero=0
    var params = {}
    $('#save-q0').on('click', function(){
      console.log('cliquei')
      params = {numero: $('#numero-q0').val(),
                  materia: $('#materia-q0').val(),
                  texto_associado: $('#texto_associado-q0').val(),
                  corpo: $('#corpo-q0').val(),
                  anulada: $('#anulada-q0').prop('checked'),
                  desatualizada: $('#desatualizada-q0').prop('checked'),
                  obs: $('#obs-q0').val()
      };
     
      r = $.post("{{url_for('addquestion')}}", params);
      r.then(data => {window.location.href = "{{url_for('questoes')}}"});
    });

    //edit existing questions
    {% for q in quests %}
    $('#save-q{{q.numero}}').on('click', function(){
      console.log('editing q{{q.numero}}')
    });
    {% endfor %}

  });
</script>
{% endblock %}